span.kdb-shortcode
{
    white-space: nowrap;
    font-size:11px;
}


kdb.kdb-shortcode
{
    height: 23px;
    line-height: 23px;
    font-family: sans-serif;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    padding:0;
    text-align: center;
    color: #222;
}

kdb.kdb-shortcode span
{
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}

kdb.large
{
    background: url(images/keyboard-large.gif) no-repeat;
    width: 48px;
}

kdb.char
{
    background: url(images/keyboard-small.gif) no-repeat;
    width: 23px;
}

kdb.enter
{
    background: url(images/keyboard-large-enter.gif) no-repeat;
    padding-right:10px;
    width: 55px;
}

kdb.win
{
    background: url(images/keyboard-middle-win.gif) no-repeat;
    width: 29px;
    overflow: hidden;
}

kdb.back
{
    background: url(images/keyboard-large-backspace.gif) no-repeat;
    width: 56px;
    overflow: hidden;
}

kdb.shift
{
    background: url(images/keyboard-large-shift.gif);
    padding-left:5px;
    width: 48px;
}

kdb.alt, kdb.control, kdb.middle
{
    background: url(images/keyboard-middle.gif);
    width: 41px;
}
